Source: ros-noetic-microstrain-inertial-examples
Section: misc
Priority: optional
Maintainer: Rob Fisher <rob.fisher@parker.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin
Homepage: https://github.com/LORD-MicroStrain/microstrain_inertial
Standards-Version: 3.9.2

Package: ros-noetic-microstrain-inertial-examples
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-microstrain-inertial-driver, ros-noetic-rviz, ros-noetic-rviz-imu-plugin, ros-noetic-tf
Description: Simple examples using the microstrain_inertial_driver for MicroStrain sensors.
